<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
     <application android:label="@string/app_name"
                 android:icon="@drawable/icon_squared"
                 android:theme="@style/AppTheme"
                 android:largeHeap="true"
                 android:name=".MainApplication">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ReaderActivity"
                  android:label="@string/app_name"
                  android:parentActivityName=".activity.MainActivity"
                  android:theme="@style/ReaderTheme"
                  android:exported="true">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activity.MainActivity" />

            <!-- fixing intent filtering like described on
                 https://stackoverflow.com/questions/39300649/android-intent-filter-not-working -->

            <!--Mime type set -->
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />

                <!-- Valid mime types -->
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/cbz" />
                <data android:mimeType="application/x-cbz" />

                <data android:mimeType="application/rar" />
                <data android:mimeType="application/cbr" />
                <data android:mimeType="application/x-cbr" />

            </intent-filter>

            <!-- Mime type not set but valid extensions -->
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:host="*" />

                <data android:pathPattern="/.*..*..*..*..*\\.zip" />
                <data android:pathPattern="/.*..*..*..*\\.zip" />
                <data android:pathPattern="/.*..*..*\\.zip" />
                <data android:pathPattern="/.*..*\\.zip" />
                <data android:pathPattern="/.*\\.zip" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*\\.cbz" />
                <data android:pathPattern="/.*\\.cbz" />

                <data android:pathPattern="/.*..*..*..*..*\\.rar" />
                <data android:pathPattern="/.*..*..*..*\\.rar" />
                <data android:pathPattern="/.*..*..*\\.rar" />
                <data android:pathPattern="/.*..*\\.rar" />
                <data android:pathPattern="/.*\\.rar" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*\\.cbr" />
                <data android:pathPattern="/.*\\.cbr" />

                <data android:pathPattern="/.*..*..*..*..*\\.7z" />
                <data android:pathPattern="/.*..*..*..*\\.7z" />
                <data android:pathPattern="/.*..*..*\\.7z" />
                <data android:pathPattern="/.*..*\\.7z" />
                <data android:pathPattern="/.*\\.7z" />
                <data android:pathPattern="/.*..*..*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*\\.cb7" />
                <data android:pathPattern="/.*\\.cb7" />

                <data android:pathPattern="/.*..*..*..*..*\\.tar" />
                <data android:pathPattern="/.*..*..*..*\\.tar" />
                <data android:pathPattern="/.*..*..*\\.tar" />
                <data android:pathPattern="/.*..*\\.tar" />
                <data android:pathPattern="/.*\\.tar" />
                <data android:pathPattern="/.*..*..*..*..*\\.tgz" />
                <data android:pathPattern="/.*..*..*..*\\.tgz" />
                <data android:pathPattern="/.*..*..*\\.tgz" />
                <data android:pathPattern="/.*..*\\.tgz" />
                <data android:pathPattern="/.*\\.tgz" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*\\.cbt" />
                <data android:pathPattern="/.*\\.cbt" />

            </intent-filter>

            <!-- Invalid mime type but valid extensions -->
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:host="*" />
                <data android:mimeType="*/*" />

                <data android:pathPattern="/.*..*..*..*..*\\.zip" />
                <data android:pathPattern="/.*..*..*..*\\.zip" />
                <data android:pathPattern="/.*..*..*\\.zip" />
                <data android:pathPattern="/.*..*\\.zip" />
                <data android:pathPattern="/.*\\.zip" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*..*\\.cbz" />
                <data android:pathPattern="/.*..*\\.cbz" />
                <data android:pathPattern="/.*\\.cbz" />

                <data android:pathPattern="/.*..*..*..*..*\\.rar" />
                <data android:pathPattern="/.*..*..*..*\\.rar" />
                <data android:pathPattern="/.*..*..*\\.rar" />
                <data android:pathPattern="/.*..*\\.rar" />
                <data android:pathPattern="/.*\\.rar" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*..*\\.cbr" />
                <data android:pathPattern="/.*..*\\.cbr" />
                <data android:pathPattern="/.*\\.cbr" />

                <data android:pathPattern="/.*..*..*..*..*\\.7z" />
                <data android:pathPattern="/.*..*..*..*\\.7z" />
                <data android:pathPattern="/.*..*..*\\.7z" />
                <data android:pathPattern="/.*..*\\.7z" />
                <data android:pathPattern="/.*\\.7z" />
                <data android:pathPattern="/.*..*..*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*..*\\.cb7" />
                <data android:pathPattern="/.*..*\\.cb7" />
                <data android:pathPattern="/.*\\.cb7" />

                <data android:pathPattern="/.*..*..*..*..*\\.tar" />
                <data android:pathPattern="/.*..*..*..*\\.tar" />
                <data android:pathPattern="/.*..*..*\\.tar" />
                <data android:pathPattern="/.*..*\\.tar" />
                <data android:pathPattern="/.*\\.tar" />
                <data android:pathPattern="/.*..*..*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*..*\\.cbt" />
                <data android:pathPattern="/.*..*\\.cbt" />
                <data android:pathPattern="/.*\\.cbt" />
            </intent-filter>
        </activity>
    </application>
</manifest>
